In [1]:
import pandas as pd

In [2]:
#Данные о доставке
Delivery = pd.read_excel("ДОСТАВКА.xlsx", sheet_name = 0, header = 1)

In [3]:
Delivery.head()

   Путь, км  Масса груза, кг Терминал отгрузки Категория груза  Гос номер
0        67             2655            Восток     Категория K   е954аа97
1        70             2961            Восток     Категория C   о625ам90
2        37             2546                Юг     Категория K  в484ве550
3        95              399             Север     Категория C  р449ее190
4       121             1219            Восток     Категория C  а522нс177

In [4]:
Delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23650 entries, 0 to 23649
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Путь, км           23650 non-null  int64
 1   Масса груза, кг    23650 non-null  int64
 2   Терминал отгрузки  23650 non-null  object
 3   Категория груза    23650 non-null  object
 4   Гос номер          23650 non-null  object
dtypes: int64(2), object(3)
memory usage: 924.0+ KB

In [5]:
Delivery['Гос номер'] = Delivery['Гос номер'].str.upper()

In [6]:
#reading data about park
Park = pd.read_excel("ПАРК.xlsx", sheet_name = 0, header = 1)

In [7]:
Park.head()

   Гос номер  Макс. грузоподъёмность, кг  Стоимость пробега / км, руб.
0  А522НС177                        1500                            51
1  А914ХХ190                        1500                            51
2  В255ЕТ750                        1500                            51
3  В484ВЕ550                        3000                            72
4   В663РА99                        1500                            51

In [8]:
grouped_data = Park.groupby('Макс. грузоподъёмность, кг')

In [9]:
#Информация о составе парка
grouped_data['Макс. грузоподъёмность, кг'].count()

Макс. грузоподъёмность, кг
500     15
1500    34
3000     8
Name: Макс. грузоподъёмность, кг, dtype: int64

In [10]:
Park.describe()

       Макс. грузоподъёмность, кг  Стоимость пробега / км, руб.
count                   57.000000                     57.000000
mean                  1447.368421                     50.263158
std                    765.810790                     10.721351
min                    500.000000                     37.000000
25%                    500.000000                     37.000000
50%                   1500.000000                     51.000000
75%                   1500.000000                     51.000000
max                   3000.000000                     72.000000

In [11]:
37/500

0.074

In [12]:
51/1500

0.034

In [13]:
72/3000

0.024

In [14]:
df = Delivery.merge(Park, 'left')

In [15]:
df.head(10)

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб."
0,67,2655,Восток,Категория K,Е954АА97,3000,72
1,70,2961,Восток,Категория C,О625АМ90,3000,72
2,37,2546,Юг,Категория K,В484ВЕ550,3000,72
3,95,399,Север,Категория C,Р449ЕЕ190,1500,51
4,121,1219,Восток,Категория C,А522НС177,1500,51
5,89,2075,Юг,Категория C,Х112ОТ97,3000,72
6,29,121,Восток,Категория K,Е658ЕЕ190,500,37
7,84,849,Восток,Категория C,Р232ТН750,3000,72
8,115,2380,Восток,Категория C,К480УР90,3000,72
9,44,2785,Восток,Категория C,К707ХС99,3000,72

In [16]:
df.to_excel (r'C:\Users\oxana\Desktop\mydata.xlsx', sheet_name='this_data')

In [17]:
#Добавляем столбец, в котором считаем затраты на одну доставку
df['Затраты на одну доставку, руб'] = df['Путь, км']*df['Стоимость пробега / км, руб.']

In [18]:
#Добавляем столбец, в котором считаем стоимость 1 кг доставки
df['Стоимость доставки за 1 кг'] = df['Затраты на одну доставку, руб']/df['Масса груза, кг']

In [19]:
df

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг
0,67,2655,Восток,Категория K,Е954АА97,3000,72,4824,1.816949
1,70,2961,Восток,Категория C,О625АМ90,3000,72,5040,1.702128
2,37,2546,Юг,Категория K,В484ВЕ550,3000,72,2664,1.046347
3,95,399,Север,Категория C,Р449ЕЕ190,1500,51,4845,12.142857
4,121,1219,Восток,Категория C,А522НС177,1500,51,6171,5.062346
...,...,...,...,...,...,...,...,...,...
23645,142,1257,Юг,Категория C,Т952СВ77,1500,51,7242,5.761337
23646,121,124,Восток,Категория C,А678КС190,500,37,4477,36.104839
23647,39,440,Юг,Категория C,О691ХТ77,1500,51,1989,4.520455
23648,87,142,Восток,Категория C,Т705МВ797,500,37,3219,22.669014
23649,20,274,Восток,Категория K,Е694ТТ177,1500,51,1020,3.722628

In [20]:
summ_km = df['Путь, км'].sum()
print(summ_km)

1912493

In [21]:
# Экспорт таблицы в Эксель
#df.to_excel (r'C:\Users\oxana\Desktop\case_axenix.xlsx', index = False, sheet_name='costs')

In [22]:
grouped_df = df.groupby('Макс. грузоподъёмность, кг')

In [23]:
df_new = grouped_df['Затраты на одну доставку, руб'].sum()

In [24]:
df_new

Макс. грузоподъёмность, кг
500     12759561
1500    49594746
3000    42853968
Name: Затраты на одну доставку, руб, dtype: int64

# Определение затрат на одну доставку и стоимость доставки за 1 кг в зависимости от грузоподъемности транспорта

### Автомобили грузоподъемностью 500 кг

In [25]:
weight_500 = df[df['Макс. грузоподъёмность, кг'] == 500]

In [26]:
weight_500.head()

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг
6,29,121,Восток,Категория K,Е658ЕЕ190,500,37,1073,8.867769
31,81,375,Восток,Категория K,Р092ТО790,500,37,2997,7.992000
39,109,182,Юг,Категория C,Т705МВ797,500,37,4033,22.159341
45,101,221,Юг,Категория K,А555УМ777,500,37,3737,16.909502
53,121,471,Юг,Категория D,О471СР799,500,37,4477,9.505308

In [27]:
weight_500.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5148 entries, 6 to 23648
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Путь, км                       5148 non-null   int64
 1   Масса груза, кг                5148 non-null   int64
 2   Терминал отгрузки              5148 non-null   object
 3   Категория груза                5148 non-null   object
 4   Гос номер                      5148 non-null   object
 5   Макс. грузоподъёмность, кг     5148 non-null   int64
 6   Стоимость пробега / км, руб.   5148 non-null   int64
 7   Затраты на одну доставку, руб  5148 non-null   int64
 8   Стоимость доставки за 1 кг     5148 non-null   float64
dtypes: float64(1), int64(5), object(3)
memory usage: 402.2+ KB

In [28]:
grouped_500 = weight_500.groupby('Гос номер')

In [29]:
grouped_500['Гос номер'].count()

Гос номер
А550ММ977    345
А555УМ777    356
А678КС190    346
В666ОУ197    349
Е450АА50     318
Е658ЕЕ190    342
Е905АМ99     347
Е933НР777    324
О471СР799    338
О839АК777    315
О865МТ150    357
Р092ТО790    356
Р980ХВ199    328
Т705МВ797    374
Х581МК77     353
Name: Гос номер, dtype: int64

In [30]:
weight_500['Стоимость доставки за 1 кг'].mean()

14.730423907164635

Средняя стоимость доставки - 14,73 рубля

In [31]:
weight_500['Затраты на одну доставку, руб'].mean()

2478.5472027972028

### Автомобили грузоподъемностью 1500 кг

In [32]:
weight_1500 = df[df['Макс. грузоподъёмность, кг'] == 1500]

In [33]:
weight_1500.head()

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг
3,95,399,Север,Категория C,Р449ЕЕ190,1500,51,4845,12.142857
4,121,1219,Восток,Категория C,А522НС177,1500,51,6171,5.062346
10,78,1244,Восток,Категория C,В663РА99,1500,51,3978,3.197749
13,143,201,Юг,Категория D,А914ХХ190,1500,51,7293,36.283582
14,30,1187,Восток,Категория C,Е828ЕУ197,1500,51,1530,1.288964

In [34]:
weight_1500.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11451 entries, 3 to 23649
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Путь, км                       11451 non-null  int64
 1   Масса груза, кг                11451 non-null  int64
 2   Терминал отгрузки              11451 non-null  object
 3   Категория груза                11451 non-null  object
 4   Гос номер                      11451 non-null  object
 5   Макс. грузоподъёмность, кг     11451 non-null  int64
 6   Стоимость пробега / км, руб.   11451 non-null  int64
 7   Затраты на одну доставку, руб  11451 non-null  int64
 8   Стоимость доставки за 1 кг     11451 non-null  float64
dtypes: float64(1), int64(5), object(3)
memory usage: 894.6+ KB

In [35]:
weight_1500['Стоимость доставки за 1 кг'].mean()

7.703678920116651

Средняя стоимость доставки - 7.7 руб.

In [36]:
weight_1500['Затраты на одну доставку, руб'].mean()

4331.040607807178

### Автомобили грузоподъемностью 3000 кг

In [37]:
weight_3000 = df[df['Макс. грузоподъёмность, кг'] == 3000]

In [38]:
weight_3000.head()

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг
0,67,2655,Восток,Категория K,Е954АА97,3000,72,4824,1.816949
1,70,2961,Восток,Категория C,О625АМ90,3000,72,5040,1.702128
2,37,2546,Юг,Категория K,В484ВЕ550,3000,72,2664,1.046347
5,89,2075,Юг,Категория C,Х112ОТ97,3000,72,6408,3.088193
7,84,849,Восток,Категория C,Р232ТН750,3000,72,6048,7.123675

In [39]:
weight_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7051 entries, 0 to 23641
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Путь, км                       7051 non-null   int64
 1   Масса груза, кг                7051 non-null   int64
 2   Терминал отгрузки              7051 non-null   object
 3   Категория груза                7051 non-null   object
 4   Гос номер                      7051 non-null   object
 5   Макс. грузоподъёмность, кг     7051 non-null   int64
 6   Стоимость пробега / км, руб.   7051 non-null   int64
 7   Затраты на одну доставку, руб  7051 non-null   int64
 8   Стоимость доставки за 1 кг     7051 non-null   float64
dtypes: float64(1), int64(5), object(3)
memory usage: 550.9+ KB

In [40]:
weight_3000['Стоимость доставки за 1 кг'].mean()

4.912565336390491

In [41]:
weight_3000['Затраты на одну доставку, руб'].mean()

6077.714934051907

# Поиск неоптимальных перевозок

Здесь проходила фильтрация по массе груза, которая не превышала 500 кг, но при этом при перевозке использовались машины, чья грузоподъемность была выше 500 кг (т.е. 1500 или 3000), что увеличивает стоимость доставки за 1 кг, делая перевозку неоптимальной.

In [42]:
non_optimal = df[(df['Масса груза, кг'] <= 500)&(df['Макс. грузоподъёмность, кг'] > 500)]

In [43]:
non_optimal

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг
3,95,399,Север,Категория C,Р449ЕЕ190,1500,51,4845,12.142857
13,143,201,Юг,Категория D,А914ХХ190,1500,51,7293,36.283582
28,82,298,Восток,Категория C,В255ЕТ750,1500,51,4182,14.033557
42,132,203,Восток,Категория K,Х306ОУ550,1500,51,6732,33.162562
46,76,291,Восток,Категория K,Р334РМ750,1500,51,3876,13.319588
...,...,...,...,...,...,...,...,...,...
23633,115,278,Восток,Категория K,С194РЕ199,1500,51,5865,21.097122
23635,91,345,Юг,Категория K,О372КА797,1500,51,4641,13.452174
23641,32,403,Восток,Категория K,О625АМ90,3000,72,2304,5.717122
23647,39,440,Юг,Категория C,О691ХТ77,1500,51,1989,4.520455
23649,20,274,Восток,Категория K,Е694ТТ177,1500,51,1020,3.722628

In [44]:
#Нерациональные перевозки 
non_optimal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3146 entries, 3 to 23649
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Путь, км                       3146 non-null   int64
 1   Масса груза, кг                3146 non-null   int64
 2   Терминал отгрузки              3146 non-null   object
 3   Категория груза                3146 non-null   object
 4   Гос номер                      3146 non-null   object
 5   Макс. грузоподъёмность, кг     3146 non-null   int64
 6   Стоимость пробега / км, руб.   3146 non-null   int64
 7   Затраты на одну доставку, руб  3146 non-null   int64
 8   Стоимость доставки за 1 кг     3146 non-null   float64
dtypes: float64(1), int64(5), object(3)
memory usage: 245.8+ KB

In [45]:
non_optimal.describe()

,"Путь, км","Масса груза, кг","Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг
count,3146.000000,3146.00000,3146.000000,3146.000000,3146.000000,3146.000000
mean,84.966624,301.96726,1724.570884,54.143992,4608.273681,18.423331
std,37.915593,117.45328,535.271255,7.493798,2196.157690,13.186847
min,20.000000,100.00000,1500.000000,51.000000,1020.000000,2.040000
25%,52.000000,199.25000,1500.000000,51.000000,2754.000000,9.272727
50%,86.000000,302.00000,1500.000000,51.000000,4590.000000,14.965848
75%,118.000000,402.00000,1500.000000,51.000000,6273.000000,23.306612
max,150.000000,500.00000,3000.000000,72.000000,10800.000000,102.352941

In [46]:
summ_km2 = non_optimal['Путь, км'].sum()
print(summ_km2)

267305

In [47]:
summ_km2/600

445.5083333333333

In [48]:
non_optimal_grouped = non_optimal.groupby('Категория груза')

In [49]:
non_optimal_grouped['Категория груза'].count()

Категория груза
Категория C    1908
Категория D     316
Категория K     922
Name: Категория груза, dtype: int64

In [50]:
non_optimal_grouped2 = non_optimal.groupby('Терминал отгрузки')

In [51]:
non_optimal_grouped2['Терминал отгрузки'].count()

Терминал отгрузки
Восток    1515
Запад      161
Север      349
Юг        1121
Name: Терминал отгрузки, dtype: int64

In [52]:
non_optimal_grouped2['Путь, км'].sum()

Терминал отгрузки
Восток    128377
Запад      13151
Север      29663
Юг         96114
Name: Путь, км, dtype: int64

In [53]:
128377/1515 
# в среднем одна поездка -

84.73729372937294

In [54]:
1515/365

4.1506849315068495

In [55]:
non_optimal['Затраты на доставку_оптимальные, руб'] = non_optimal['Путь, км']*37

C:\Users\oxana\AppData\Local\Temp\ipykernel_22072\2983788350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_optimal['Затраты на доставку_оптимальные, руб'] = non_optimal['Путь, км']*37

In [56]:
non_optimal

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг,"Затраты на доставку_оптимальные, руб"
3,95,399,Север,Категория C,Р449ЕЕ190,1500,51,4845,12.142857,3515
13,143,201,Юг,Категория D,А914ХХ190,1500,51,7293,36.283582,5291
28,82,298,Восток,Категория C,В255ЕТ750,1500,51,4182,14.033557,3034
42,132,203,Восток,Категория K,Х306ОУ550,1500,51,6732,33.162562,4884
46,76,291,Восток,Категория K,Р334РМ750,1500,51,3876,13.319588,2812
...,...,...,...,...,...,...,...,...,...,...
23633,115,278,Восток,Категория K,С194РЕ199,1500,51,5865,21.097122,4255
23635,91,345,Юг,Категория K,О372КА797,1500,51,4641,13.452174,3367
23641,32,403,Восток,Категория K,О625АМ90,3000,72,2304,5.717122,1184
23647,39,440,Юг,Категория C,О691ХТ77,1500,51,1989,4.520455,1443
23649,20,274,Восток,Категория K,Е694ТТ177,1500,51,1020,3.722628,740

In [57]:
3146/23650*100

13.30232558139535

In [58]:
non_optimal['Переплата'] = non_optimal['Затраты на одну доставку, руб'] - non_optimal['Затраты на доставку_оптимальные, руб']

C:\Users\oxana\AppData\Local\Temp\ipykernel_22072\940698302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_optimal['Переплата'] = non_optimal['Затраты на одну доставку, руб'] - non_optimal['Затраты на доставку_оптимальные, руб']

In [59]:
non_optimal[['Переплата']]

       Переплата
3           1330
13          2002
28          1148
42          1848
46          1064
...          ...
23633       1610
23635       1274
23641       1120
23647        546
23649        280

[3146 rows x 1 columns]

In [60]:
non_optimal[['Переплата']].sum()

Переплата    4607344
dtype: int64

Возможная экономия (без внедрения системы легкового электротранспорта) - 4 607 344 руб.

In [61]:
#non_optimal_large = non_optimal[(non_optimal['Путь, км'] > 20)&(non_optimal['Масса груза, кг'] > 100)]

In [62]:
#non_optimal_large

In [63]:
#non_optimal_large[['Переплата']].sum()

In [64]:
#non_optimal_small = non_optimal[(non_optimal['Путь, км'] <= 20)|(non_optimal['Масса груза, кг'] <= 100)]

In [65]:
#non_optimal_small

# Поиск неоптимальных перевозок 2

In [66]:
non_optimal2 = df[(df['Масса груза, кг'] <= 100)&(df['Путь, км'] <= 20)]

In [67]:
non_optimal2

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг
55,4,19,Восток,Категория D,А678КС190,500,37,148,7.789474
77,1,46,Восток,Категория C,Х581МК77,500,37,37,0.804348
99,13,33,Восток,Категория C,О471СР799,500,37,481,14.575758
100,7,55,Юг,Категория C,Е450АА50,500,37,259,4.709091
109,5,98,Юг,Категория D,О865МТ150,500,37,185,1.887755
...,...,...,...,...,...,...,...,...,...
23609,9,6,Восток,Категория D,Е933НР777,500,37,333,55.500000
23612,3,57,Восток,Категория C,А550ММ977,500,37,111,1.947368
23618,9,27,Запад,Категория K,О839АК777,500,37,333,12.333333
23637,18,12,Запад,Категория K,Е450АА50,500,37,666,55.500000
23643,19,4,Запад,Категория K,А555УМ777,500,37,703,175.750000

In [68]:
non_optimal2.describe()

,"Путь, км","Масса груза, кг","Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг
count,1221.000000,1221.000000,1221.0,1221.0,1221.000000,1221.000000
mean,10.425880,49.711712,500.0,37.0,385.757576,21.644310
std,5.819029,29.164661,0.0,0.0,215.304078,60.641811
min,1.000000,1.000000,500.0,37.0,37.000000,0.370000
25%,5.000000,25.000000,500.0,37.0,185.000000,4.000000
50%,10.000000,49.000000,500.0,37.0,370.000000,7.679245
75%,15.000000,76.000000,500.0,37.0,555.000000,16.086957
max,20.000000,100.000000,500.0,37.0,740.000000,703.000000

In [69]:
# С учетом внедрения легкового электротранспорта
non_optimal2['Затраты на доставку_оптимальные, руб'] = non_optimal2['Путь, км']*25

C:\Users\oxana\AppData\Local\Temp\ipykernel_22072\2573146449.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_optimal2['Затраты на доставку_оптимальные, руб'] = non_optimal2['Путь, км']*25

In [70]:
non_optimal2

,"Путь, км","Масса груза, кг",Терминал отгрузки,Категория груза,Гос номер,"Макс. грузоподъёмность, кг","Стоимость пробега / км, руб.","Затраты на одну доставку, руб",Стоимость доставки за 1 кг,"Затраты на доставку_оптимальные, руб"
55,4,19,Восток,Категория D,А678КС190,500,37,148,7.789474,100
77,1,46,Восток,Категория C,Х581МК77,500,37,37,0.804348,25
99,13,33,Восток,Категория C,О471СР799,500,37,481,14.575758,325
100,7,55,Юг,Категория C,Е450АА50,500,37,259,4.709091,175
109,5,98,Юг,Категория D,О865МТ150,500,37,185,1.887755,125
...,...,...,...,...,...,...,...,...,...,...
23609,9,6,Восток,Категория D,Е933НР777,500,37,333,55.500000,225
23612,3,57,Восток,Категория C,А550ММ977,500,37,111,1.947368,75
23618,9,27,Запад,Категория K,О839АК777,500,37,333,12.333333,225
23637,18,12,Запад,Категория K,Е450АА50,500,37,666,55.500000,450
23643,19,4,Запад,Категория K,А555УМ777,500,37,703,175.750000,475

In [71]:
non_optimal2['Переплата'] = non_optimal2['Затраты на одну доставку, руб'] - non_optimal2['Затраты на доставку_оптимальные, руб']

C:\Users\oxana\AppData\Local\Temp\ipykernel_22072\1440745705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_optimal2['Переплата'] = non_optimal2['Затраты на одну доставку, руб'] - non_optimal2['Затраты на доставку_оптимальные, руб']

In [73]:
groudep_non_optimal2 = non_optimal2.groupby('Терминал отгрузки')

In [74]:
groudep_non_optimal2['Терминал отгрузки'].count()

Терминал отгрузки
Восток    618
Запад      63
Север     109
Юг        431
Name: Терминал отгрузки, dtype: int64

In [76]:
non_optimal2[(non_optimal2['Терминал отгрузки'] == 'Восток')|(non_optimal2['Терминал отгрузки'] == 'Юг')].Переплата.sum()

132036